**/.idea
**/__pycache__
bounding_boxes.csv
/bounding_box/models/VGG16-pretrained-no-classification.pth
/bounding_box/models/VGG16-pretrained-original.pth
/bounding_box/models/
/models/
*.pt
*.pth
/snapshots/
/loss.csv
.DS_Store
loss*.csv
